*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}

body{
    background-color: #fafafa;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.head{
    display: flex;
    font: 0.7rem sans-serif;
    justify-content: space-between;
}

.logo{
    display: flex;
    font-size: 0.7rem;
    margin: 15px 12px;
}

.light{
    margin: 15px 12px;
    transition: 0.3s;
}

.dark{
    margin: 15px 12px;
    transition: 0.3s;
}

.dark:hover{
    cursor: pointer;
    scale: 1.1;
}

.light:hover{
    cursor: pointer;
    scale: 1.1;
}

hr{
    border: 1px solid #e3e3e3;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8EDF5;
    height: 40px;
    width: 800px; 
    border-radius: 10px;
    padding: 15px;  
    transition: background-color 0.3s ease;
}

.search-bar > input{
    display: flex;
    flex: 1;
    background-color: #E8EDF5;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.search-bar > i{
    cursor: pointer;
}

#search{
    color: #4A739C;
}

input::placeholder{
    color: #4A739C;
}

.word-section{
    margin-top: 20px;
    text-align: left;
    width: 62vw;
}

#word-title{
    margin-bottom: 15px;
}

#word-explanation{
    line-height: 2;
}

.word-title-section{
    display: flex;
    gap: 10px;
}

.speaker-icon{
    border: 1px solid #e3e3e3;
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s;
}

.speaker-icon:hover{
    background-color: #E8EDF5;
    cursor: pointer;
}

body.dark-mode{
    background-color: #121A21;
    color: #ffffff;
}

body.dark-mode #search-bar{
    background-color: #243647;
}

body.dark-mode #word{
    background-color: white;
}

body.dark-mode #logo{
    fill: white;
}

body.dark-mode #speaker-icon{
    stroke: white;
}

body #dark{
    display: none;
}

body.dark-mode #dark{
    display: block;
}

body.dark-mode #light{
    display: none;
}

@media (width <= 768px){
    .search-bar{
        width: 20rem;
    }
}